<div class="my-3 container">
    <h2>Promise</h2>
    <h4>{{promiseVal}}</h4>
    <ol>
        <li>Promises</li>
            <ul>
                <li>async</li>
              wertyuio
                <li>Return Single value</li>
                <ul>
                    <li>resolve (yes)</li>
                    <li>return (no)</li>
                </ul>
            </ul>
        <li>Observable</li>
            <ul>
                <li>sync</li>
                <li>return stream of value</li>
            </ul>
    </ol>
</div>
